
 <!--end of col-->
                        <div class="col-12 col-md-8">
                          <% @posts.reverse.each do |post| %>

                            <div class="card">
                                <div class="card-header card-header-borderless d-flex justify-content-between">
                                    <small class="text-muted"><i class="icon-add-to-list mr-1"></i> Added a new item</small>
                                    <small class="text-muted">A few moments ago</small>
                                </div>
                                <div class="card-content">
                               <span class="card-title"><%= post.title %></span>
                                <p><%= post.body %></p>
                                </div>
                             <div class="card-action">

                              </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div>
                                        <button class="btn btn-sm btn-outline-secondary">Comment</button>
                                        <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>
                                        </button>
                                    </div>
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-thumbs-up"></i> 22</li>
                                            <li class="list-inline-item"><i class="icon-share-alternative"></i> 8</li>
                                        </ul>
                                    </div>
                                </div>
								
                            </div>
							 <% end %>
                            <!--end of card-->
                   <%= will_paginate @posts %>