 <hr>
                            <div class="row">
                                <div class="col-12">
                                    <form>
                                        <h5 class="mb-4">Notification Preferences</h5>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-mention" checked id="notify-mention">
                                                <label class="custom-control-label" for="notify-mention">Someone mentions me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-request" checked id="notify-follow">
                                                <label class="custom-control-label" for="notify-follow">Someone follows me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-share" checked id="notify-share">
                                                <label class="custom-control-label" for="notify-share">Someone shares my activty</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-message" checked id="notify-message">
                                                <label class="custom-control-label" for="notify-message">Someone messages me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-adds" checked id="notify-adds">
                                                <label class="custom-control-label" for="notify-adds">Someone adds me to a project</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-sales" id="notify-sales">
                                                <label class="custom-control-label" for="notify-sales">Sales and promotions</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary mt-4" disabled>Update preferences</button>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            