
        <style> 
body{ 
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("/assets/img/cityhall.jpg");
    background-size: cover;
    background-size: 100%;
    background-repeat-x: none;
    background-repeat-y: none;
    }
    </style>       
                  
                    <div class="row flex-md-row card card-sm">
                        <div class="col-12 col-md-7 card-body bg-secondary">
                            <div class="text-center mb-5">
                                <h1 class="h2 mb-2">Start creating immediately</h1>
                                <span>and join a company of like-minded people!</span>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9">
                                      <form class = "" method="POST" action="/signup">
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input type="text" name="first_name" class="form-control form-control-lg" type="text" id="first_name" placeholder="First Name" required/>
                                            </div>
                                            <div class="col">
                                                <input type="text" name="last_name" class="form-control form-control-lg" type="text" id="last_name" placeholder="Last Name" required/>
                                            </div>
                                        </div>
                                         <div class="form-row form-group">
                                            <div class="col">
         	                            <input type="text" class="form-control form-control-lg" name="username" id="inlineFormInputGroup" placeholder="Username" required>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input type="email" name="email" class="form-control form-control-lg" type="email" id="inputEmail4" placeholder="Email Address" required/>
                                            </div>
                                        </div>
                        
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input type="password" name="password" class="form-control form-control-lg" type="password" id="password" placeholder="Password" required/>
                                                <small>Password must be at least 7 characters</small>
                                            </div>
                                        </div>
                                      
                                        <div class="form-group col-md-6">
                                            <div class="col">
                                                <input type="text" class="form-control form-control-lg"  name="birthday" id="inputDate" placeholder="yyyy-mm-dd">
                                                 <small>Birthday</small>
                                            </div>
                                        </div>
     	                                
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <button class="btn btn-block btn-success btn-lg" type="submit">Create Account</button>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="text-small text-muted">By clicking 'Create Account' you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a>&nbsp;and <a href="#">Security Policy</a>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-5 card-body">
                            <div>
                                <div class="mb-5 text-center">
                                    <h3 class="h2 mb-2">Features &amp; Benefits</h3>
                                    <span>Get exclusive invites to tour parts unknown</span>
                                </div>
                                <ul class="list-unstyled list-spacing-sm mb-5 ">
                                    <li class="row">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Discover parts of New York that you never knew existed! </div>
                                    </li>
                                    <li class="row align-items-center">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Make a bold new start today</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Meet new people!</div>
                                    </li>
                                    <li class="row align-items-center">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Make a bold new start today</div>
                                    </li>
                                </ul>

                                <div class="card card-sm shadow text-left">
                                    <div class="card-body p-4">
                                        <div class="media">
                                        
                                            <div class="media-body">
                                                <p class="mb-1 text-small">
                                                    “Let’s get one thing straight, this theme’s a straight-up winner. No posers here, just beautiful design and code.”
                                                </p>
                                                <small>Daniel Cameron</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="text-center">
                        <span class="text-small" style="color:white;">Already have an account? <a href="#" style="color:white;">Log in here</a>
                        </span>
                    </div>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>

